In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
import pandas as pd
from google.colab import files

# Cargar el archivo CSV y obtener su contenido
data = files.upload()

# Intentar leer el archivo CSV con diferentes codificaciones
encodings = ['utf-8', 'ISO-8859-1', 'latin1']  # Puedes agregar otras si es necesario

for encoding in encodings:
    try:
        df = pd.read_csv(next(iter(data)), encoding=encoding)
        break  # Si tiene éxito, sal del bucle
    except UnicodeDecodeError:
        continue  # Si falla, intenta la siguiente codificación

# Mostrar las primeras 5 filas del DataFrame
print(df.head(5))

In [ ]:
#Identificar valores nulos por columna
valores_nulos=df.isnull().sum()
valores_nulos

In [10]:
#Realizamos una copia del dataframe
data2=df.copy()

In [ ]:
#Primer método de sustitución de valores nulos
#Sustituir valores nulos con promedio o media
data2["monto_accesorios"]= data2["monto_accesorios"].fillna(0)
data2

In [ ]:
valores_nulos=data2.isnull().sum()
valores_nulos

In [ ]:
#Primer método de sustitución de valores nulos
#Sustituir valores nulos con promedio o media
data2["fraude"]= data2["fraude"].fillna(0)
data2

In [ ]:
valores_nulos=data2.isnull().sum()
valores_nulos

In [19]:
#Sexto método de sustitución de valores nulos
#Sustituir valores nulos por valores no nulos hacia atrás backward fill" ("bfill")
#Filtro por columnas
data2["empresa"] =data2["empresa"].fillna(method="bfill")

In [21]:
valores_nulos=data2.isnull().sum()
valores_nulos

folio                     0
tag                       0
folio_solicitud           0
fecha                     0
marca                     0
modelo                    0
plazo                     0
precio                    0
enganche                  0
descuento                 0
semana                    0
monto_financiado          0
costo_total               0
monto_accesorios          0
agente_venta              0
dis_venta                 0
status                    0
fraude                    0
empresa                   0
inversion              4197
pagos_realizados       3595
reautorizacion         2473
fecha_ultimo_pago      2473
fecha_pago_proximo        0
status_cuenta             0
puntos                 4505
riesgo                 4505
porc_enganche           685
porc_tasa             21876
score_buro            21532
razones_buro          20262
semana_actual         22734
codigo_postal         22735
dtype: int64

In [ ]:
#Primer método de sustitución de valores nulos
#Sustituir valores nulos con promedio o media
data2["inversion"]= data2["inversion"].fillna(0)
data2

In [23]:
valores_nulos=data2.isnull().sum()
valores_nulos

folio                     0
tag                       0
folio_solicitud           0
fecha                     0
marca                     0
modelo                    0
plazo                     0
precio                    0
enganche                  0
descuento                 0
semana                    0
monto_financiado          0
costo_total               0
monto_accesorios          0
agente_venta              0
dis_venta                 0
status                    0
fraude                    0
empresa                   0
inversion                 0
pagos_realizados       3595
reautorizacion         2473
fecha_ultimo_pago      2473
fecha_pago_proximo        0
status_cuenta             0
puntos                 4505
riesgo                 4505
porc_enganche           685
porc_tasa             21876
score_buro            21532
razones_buro          20262
semana_actual         22734
codigo_postal         22735
dtype: int64

In [24]:
#Primer método de sustitución de valores nulos
#Sustituir valores nulos con promedio o media
data2["pagos_realizados"]=data2["pagos_realizados"].fillna(round(df["pagos_realizados"].mean(),1))

In [25]:
valores_nulos=data2.isnull().sum()
valores_nulos

folio                     0
tag                       0
folio_solicitud           0
fecha                     0
marca                     0
modelo                    0
plazo                     0
precio                    0
enganche                  0
descuento                 0
semana                    0
monto_financiado          0
costo_total               0
monto_accesorios          0
agente_venta              0
dis_venta                 0
status                    0
fraude                    0
empresa                   0
inversion                 0
pagos_realizados          0
reautorizacion         2473
fecha_ultimo_pago      2473
fecha_pago_proximo        0
status_cuenta             0
puntos                 4505
riesgo                 4505
porc_enganche           685
porc_tasa             21876
score_buro            21532
razones_buro          20262
semana_actual         22734
codigo_postal         22735
dtype: int64

In [ ]:
#Primer método de sustitución de valores nulos
#Sustituir valores nulos con promedio o media
data2["reautorizacion"]= data2["reautorizacion"].fillna(0)
data2

In [27]:
valores_nulos=data2.isnull().sum()
valores_nulos

folio                     0
tag                       0
folio_solicitud           0
fecha                     0
marca                     0
modelo                    0
plazo                     0
precio                    0
enganche                  0
descuento                 0
semana                    0
monto_financiado          0
costo_total               0
monto_accesorios          0
agente_venta              0
dis_venta                 0
status                    0
fraude                    0
empresa                   0
inversion                 0
pagos_realizados          0
reautorizacion            0
fecha_ultimo_pago      2473
fecha_pago_proximo        0
status_cuenta             0
puntos                 4505
riesgo                 4505
porc_enganche           685
porc_tasa             21876
score_buro            21532
razones_buro          20262
semana_actual         22734
codigo_postal         22735
dtype: int64

In [ ]:
#Primer método de sustitución de valores nulos
#Sustituir valores nulos con promedio o media
data2["puntos"]= data2["puntos"].fillna(0)
data2

In [ ]:
valores_nulos=data2.isnull().sum()
valores_nulos

In [ ]:
#Primer método de sustitución de valores nulos
#Sustituir valores nulos con promedio o media
data2["riesgo"]= data2["riesgo"].fillna(0)
data2

In [36]:
valores_nulos=data2.isnull().sum()
valores_nulos

folio                     0
tag                       0
folio_solicitud           0
fecha                     0
marca                     0
modelo                    0
plazo                     0
precio                    0
enganche                  0
descuento                 0
semana                    0
monto_financiado          0
costo_total               0
monto_accesorios          0
agente_venta              0
dis_venta                 0
status                    0
fraude                    0
empresa                   0
inversion                 0
pagos_realizados          0
reautorizacion            0
fecha_ultimo_pago      2473
fecha_pago_proximo        0
status_cuenta             0
puntos                    0
riesgo                    0
porc_enganche           685
porc_tasa             21876
score_buro            21532
razones_buro          20262
semana_actual         22734
codigo_postal         22735
dtype: int64

In [ ]:
#Primer método de sustitución de valores nulos
#Sustituir valores nulos con promedio o media
data2["porc_enganche"]= data2["porc_enganche"].fillna(0)
data2

In [ ]:
#Primer método de sustitución de valores nulos
#Sustituir valores nulos con promedio o media
data2["porc_tasa"]= data2["porc_tasa"].fillna(0)
data2

In [ ]:
#Primer método de sustitución de valores nulos
#Sustituir valores nulos con promedio o media
data2["score_buro"]= data2["score_buro"].fillna(0)
data2

In [ ]:
#Primer método de sustitución de valores nulos
#Sustituir valores nulos con promedio o media
data2["razones_buro"]= data2["razones_buro"].fillna(0)
data2

In [ ]:
#Primer método de sustitución de valores nulos
#Sustituir valores nulos con promedio o media
data2["semana_actual"]= data2["semana_actual"].fillna(0)
data2

In [ ]:
#Primer método de sustitución de valores nulos
#Sustituir valores nulos con promedio o media
data2["codigo_postal"]= data2["codigo_postal"].fillna(0)
data2

In [43]:
valores_nulos=data2.isnull().sum()
valores_nulos

folio                    0
tag                      0
folio_solicitud          0
fecha                    0
marca                    0
modelo                   0
plazo                    0
precio                   0
enganche                 0
descuento                0
semana                   0
monto_financiado         0
costo_total              0
monto_accesorios         0
agente_venta             0
dis_venta                0
status                   0
fraude                   0
empresa                  0
inversion                0
pagos_realizados         0
reautorizacion           0
fecha_ultimo_pago     2473
fecha_pago_proximo       0
status_cuenta            0
puntos                   0
riesgo                   0
porc_enganche            0
porc_tasa                0
score_buro               0
razones_buro             0
semana_actual            0
codigo_postal            0
dtype: int64